<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <script src="/poll-scripts.js"></script>
</head>

<body>
    <nav>
        <a href="/results">Results</a>
    </nav>

    <!-- EJS to insert poll data-->
    <% if (choices.length > 0) { %>
        <h1><%= question %></h1>
        <% let buttonCounter = 1; %>
        <% choices.forEach(option => { %>
            <button type="button" class="option" id="<%= buttonCounter %>"><%= option.option %></button>
            <% buttonCounter++; %>
        <% }) %>
        <button type="button" class="submit">Submit Option</button>
    <% } else { %>
        <div>
            <h1>No Poll Data Available</h1>
        </div>
    <% } %>

</body>
</html>