<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <script src="/poll-scripts.js"></script>
</head>

<body>
    <div class="container">
        <img src="assets/logo.png">
        <% if (Object.keys(pollData).length > 0) { %>
            <h1><%= pollData.question %></h1>
            <% let optionOne = pollData.options.find(option => option.optionId === 1);%>
            <% let optionTwo = pollData.options.find(option => option.optionId === 2);%>
            <% let optionThree = pollData.options.find(option => option.optionId === 3);%>
            <% let choices = [ {option: optionOne.optionText}, {option: optionTwo.optionText}, {option: optionThree.optionText}]; %>
            <% let optionCounter = 1; %>
            <% choices.forEach(option => { %>
                <div class="option" id="<%= optionCounter %>">
                    <p><%= option.option %></p>
                </div>
                <% optionCounter++; %>
            <% }) %>
            <div class="submit">
                <p>SUBMIT</p>
            </div>
        <% } else { %>
            <div>
                <h1>No Poll Data Available</h1>
            </div>
        <% } %>
    </div>
</body>
</html>